.twinty{
    max-width:1260px;
     margin: 0 auto;
     /* height: 2000px; */
 }
 body{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
   *{
     margin: 0px;
     padding: 0%;
     box-sizing: border-box;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
   .icons-nav{
    padding: 20px 25px;
    width: 304px;
    font-size: 25px;
  }
  .nav-bar{
    padding: 26px 25px;
    width: 304px;
    width: 100%;
    font-weight: 700;
    font-family: sans-serif;
  }
  a{
      text-decoration: none;
      color: black;
  }
  a:hover{
    transform: translate(5px, -5px);
    box-shadow:  5px 5px 20px;
  }
  /* .shopping-card-home{
    width: 300px;
    margin-top: 20px;
    margin-left: 30px;
    font-weight: bold;
  } */
  .home-shoping-card{
    margin-top: 50px;
    font-size: 21px;
    font-weight: bold;
    margin-left: 6pc;
  }
  .shipping{
    margin-top: 50px;
    font-size: 21px;
    font-weight: bold;
    margin-left: 6pc;
    margin-right: 11pc;
  }
.product-nav{
  margin-top: 5pc;
   color: rgba(27,24,88,255); 
    font-weight: bold;
     font-size: 20px;
}
.img-class{
  width: 200px;
  height: 200px;
  border-radius: 23px;
}
.img-text{
      text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: rgb(11 4 148);
}
.increment-number{
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 24px;
  border: none;
  font-weight: bold;
  margin-top: 9px;
}
.mius-buttton{
  width: 33px;
  height: 36px;
  background-color: white;
  border-radius: 5px;
  /* font-weight: bold; */
  margin-right: 12px;
  font-size: 24px;
}
.plus-button{
  width: 33px;
    height: 36px;
    /* background-color: white; */
    border-radius: 5px;
    font-weight: bold;
    margin-left: 12px;
    background-color: rgba(27,24,88,255);
    color: white;
    font-weight: bold;
    font-size: 24px;
}
.subtotal-style{
  margin-top: 5pc;
  font-size: 23px;
  color: rgba(27,24,88,255);
  font-weight: bold;
  margin-left: 78px;
}
.delete-icon-style{
  font-size: 24px;
    background-color: rgba(27,24,88,255);
    height: 34px;
    width: 29px;
    color: white;
    text-align: center;
    border-radius: 7px;
}
.img-class-2{
  width: 180px;
  height: 180px;
  border-radius: 23px;
}
.bottom-button{
  background-color: rgba(27,24,88,255);
    color: white;
    font-size: 19px;
    width: 144px;
    border-radius: 8px;
    height: 40px;
    
}
.clear-button-style{
  background-color: white;
    color: rgba(27,24,88,255);
    font-size: 19px;
    width: 144px;
    border-radius: 8px;
    height: 40px;
    font-weight: bold;
}
.two-button-margon{
  
  width: 316px;
  margin-top: 30px;
  margin-left: 6pc;
}
.coupne-box{
  border-color: rgb(5 1 78 / 95%);
    border-radius: 5px;
    background-color: white;
    width: 213px;
    height: 32px;
    padding-left: 20px;
}
.apply-button{
  width: 79px;
    height: 30px;
    margin-left: 20px;
    color: white;
    background-color:rgba(27,24,88,255);
    border-radius: 6px;

}
.box-style{
  border: 1px solid black;
    width: 339px;
    height: 137px;
    border-radius: 6px;
    border-color: gray;
}
.proceed-check-out{
  margin-top: 12px;
  width: 340px;
  height: 36px;
  border-radius: 6px;
  background-color: greenyellow;
  color: white;
  font-size: 20px;
  margin-bottom: 33px;

}
.back-g-img{
  background: linear-gradient(rgb(82 90 133 / 74%), rgb(82 90 133)),url(/back.jpg);
    /* height: 400px; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
  
}

.c-furniture{
  /* border: 1px solid black; */
  text-align: center;
  color: white;
  padding: 20px;
  /* height: 800px; */
  }
  .bottom-icon{
    font-size: 30px;
    padding: 20px 20px;
  }
  .botom-hadding{
    color: white;
      padding: 26px 20px;
      font-size: 23px;
      position: relative;
      border-radius: 8px;
      background-color: rgb(82 90 133);
  }
  .copyright{
    text-align: center;
    color: white;
    padding: 18px 0px;
  }
  .position{
    position: absolute;
      right: 44%;
      font-size: 28px;
      border-radius: 7px;
      background-color: rgb(82 90 133);
  }
  /* .roni::after{
    content:"?";
  } */
  .bottom-nav{
    margin: 0 auto;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #767fa4;
    color: white;
    height: 44px;
    padding: 10px 16px;
    border-color: #767fa4;
  }



  .flex-direction-col {
    flex-direction: column;
  }
  .flex-direction-col-row {
    flex-direction: column;
  }
  .flex-direction-row-col {
    flex-direction: row;
  }
  .flex-view {
    display: flex;
  }
  .flex-direction-row {
    flex-direction: row;
  }
  .justify-content-c {
    justify-content: center;
  }
  .justify-content-b {
    justify-content: space-between;
  }
  .justify-content-a {
    justify-content: space-around;
  }